#app {
  height: 90vh;
}

.day {
  background-color: #f4f4f4;
  color: #333;
}

.night {
  background-color: #333;
  color: #f4f4f4;
}

#swap {
  outline: 0;
}

.button_day {
  background-color: #0088cc;
  color: #f4f4f4;
}

.button_night {
  background-color: #222;
  color: #f4f4f4;
}
